.mx_pidkurs{
    padding: 0;
}


.iv_main .mx_pidkurs .mx_pidkurs_info_stack{
    padding: 0;
    margin: 23px 0 15px;
}
.iv_main .mx_pidkurs .mx_pidkurs_info_stack .mx_pidkurs_info{
    float: left;
    padding: 0;
}
.iv_main .mx_pidkurs .mx_pidkurs_info_stack .mx_pidkurs_info h3{
    font: bold 14px Fira Sans;
    line-height: 1.2;
    color: rgb(0,0,0);
    margin: 3px 0;
    text-align: right;
    padding: 0;
    padding-right: 6px;
    text-transform: uppercase;
}
.iv_main .mx_pidkurs .mx_pidkurs_info_stack .mx_pidkurs_info p{
    font: 500 14px Fira Sans;
    line-height: 1.2;
    margin: 3px 0;
    padding: 0;
}

@media (min-width: 550px){
    .iv_main .mx_pidkurs .mx_pidkurs_info_stack .mx_pidkurs_info h3 {
        width: 31%;
    }
}
@media (min-width: 572px){
    .iv_main .mx_pidkurs .mx_pidkurs_info_stack .mx_pidkurs_info h3 {
        width: 29%;
    }
}

@media (min-width: 768px){
    .iv_main .mx_pidkurs .mx_pidkurs_info_stack .mx_pidkurs_info h3 {
        width: 21%;
    }
}

@media (min-width: 974px){
    .iv_main .mx_pidkurs .mx_pidkurs_info_stack .mx_pidkurs_info h3 {
        width: 16%;
    }
}

@media (min-width: 992px){
    .iv_main .mx_pidkurs .mx_pidkurs_info_stack .mx_pidkurs_info h3 {
        width: 21%;
    }
}
@media (min-width: 1034px){
    .iv_main .mx_pidkurs .mx_pidkurs_info_stack .mx_pidkurs_info h3 {
        width: 20%;
    }
}
@media (min-width: 1084px){
    .iv_main .mx_pidkurs .mx_pidkurs_info_stack .mx_pidkurs_info h3 {
        width: 19%;
    }
}
@media (min-width: 1140px){
    .iv_main .mx_pidkurs .mx_pidkurs_info_stack .mx_pidkurs_info h3 {
        width: 18%;
    }
}
@media (min-width: 1203px){
    .iv_main .mx_pidkurs .mx_pidkurs_info_stack .mx_pidkurs_info h3 {
        width: 17%;
    }
}


@media (min-width: 992px){
    .iv_main .mx_pidkurs .mx_pidkurs_info_stack .mx_pidkurs_info:nth-of-type(4) p {

    }
}
@media (max-width: 478px){
    .iv_main .mx_pidkurs .mx_pidkurs_info_stack .mx_pidkurs_info h3 {
        width: 100%;
        text-align: left;
    }
    .iv_main .mx_pidkurs .mx_pidkurs_info_stack .mx_pidkurs_info p {
        width: 100%;
    }
}





.mx_pidkurs > a {
    font: 400 16px Fira Sans;
    color: #ef3d31;
    text-decoration: underline;
    margin: 25px 0 45px 0;
    display: block;
}




.mx_pidkurs_VUZ_info {
    margin-top: 0;
    margin-bottom: 20px;
    border-top: 3px solid rgb(239, 61, 49);
    padding: 0;
}
.mx_pidkurs_VUZ_info tr.mx_table_1r .mx_digit_header, .mx_pidkurs_VUZ_info tr.mx_table_2r .mx_digit_header,
.mx_pidkurs_VUZ_info tr.mx_table_head .mx_digit_header{
    font: 700 1.143em Fira Sans;
    font-size: 12Pt;
}
tr.mx_table_head td{
    padding-top: 15px;
    padding-bottom: 2px;
}
tr.mx_table_1r td{
    padding-top: 20px;
    padding-bottom: 5px;
}
tr.mx_table_2r td{
    padding-top: 5px;
    padding-bottom: 25px;
}
td.mx_pidkurs_VUZ_adress{
    width: 45%;
}
td.mx_VUZ_dovidk, td.mx_VUZ_email, td.mx_VUZ_fax, td.mx_VUZ_www{
    width: 24%;
}
td.mx_pidkurs_VUZ_adress .mx_digit_header, td.mx_pidkurs_VUZ_contact .mx_digit_header{
    text-transform: uppercase;
}
table {
    width: 100%;
    border-collapse: collapse;
}
.mx_pidkurs_VUZ_info tr.mx_table_head {

}
.mx_pidkurs_VUZ_info p{
    padding: 2px;
    font: 400 1em Fira Sans;
}
.mx_pidkurs_VUZ_info .mx_pidkurs_VUZ_adress p{
    padding: 4px;
}

@media screen and (max-width: 619px) {
    td.mx_pidkurs_VUZ_dovidk, td.mx_pidkurs_VUZ_email, td.mx_pidkurs_VUZ_fax, td.mx_pidkurs_VUZ_www {
        width: 40%;
    }
}
@media screen and (max-width: 400px) {
    .mx_pidkurs_VUZ_info tr.mx_table_1r .mx_digit_header, .mx_pidkurs_VUZ_info tr.mx_table_2r .mx_digit_header {
        font-size: 14px;
    }
    .mx_pidkurs_VUZ_info p {
        font-size: 12px;
    }
}
